
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="premium-title mb-4">Password Reset Email Sent</h2>
    <p class="text-light mb-3">
        We've emailed you instructions for resetting your password. 
        If you don't receive an email, please check your spam folder or try again.
    </p>
    <p class="mt-3 text-light">
        Return Home
       <a href="{% url 'home' %}" class="text-warning">Return to Home Page</a>
    </p>
</div>
{% endblock %}
